extends admin_common/base

block content
    div(ng-app='app' ng-controller='ctr' ng-cloak)
        pre {{orderData|json}}
        .my-5
            .row
                .col-8
                    h4 Order
            hr
            table.table
                thead
                    tr
                        th(scope='col') #
                        th Name
                        th Phone
                        th Email
                        th Food Price
                        th Action
                tbody
                    tr(ng-repeat='data in orderData')
                        th(scope='row') {{$index+1}}
                        th {{data.name}}
                        td {{data.phone}}
                        td {{data.userID.local.email}}
                        td RM {{data.price| number:2}}
                        td
                            button.btn.btn-danger(ng-click='fooddelete(data._id)') Delete

block scripts
    script.
        const strAppName = 'app';
        const strCtrName = 'ctr';
        const app = angular.module(strAppName, []);

        function getGETParam(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0];
        }

        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        app.controller(strCtrName, ['$scope', '$http',
            function($scope, $http) {
                let paramID = getGETParam('id');
                $scope.getFunc = function() {
                    $http({
                        method: 'GET',
                        url: '/api/order/read/all',
                        params: {}
                    }).then(
                        function successCallback(response) {
                            console.log(response.data);
                            $scope.orderData = response.data;
                        },

                        function errorCallback(response) {
                        }
                    );
                };
                $scope.getFunc();

                $scope.viewOrder = function () {
                    $http({
                        method: 'GET',
                        url: '/api/order/read/all',
                        params: {}
                    }).then(
                        function successCallback(response) {
                            console.log(response.data);
                            $scope.orderData = response.data;
                        },

                        function errorCallback(response) {
                        }
                    );
                };

            }]);


