extends admin_common/base

block content
    div(ng-app='app' ng-controller='ctr' ng-cloak)
        .my-5
            .row
                .col-8
                    h4 Order Details

            .row(ng-repeat='data in orderData')
                .col-lg-6.col-12
                    .card
                        .card-header
                            h5 User Details
                        .card-body
                            p Name : {{data.name}}
                            p Email : {{data.userID.local.email}}
                            p Phone : {{data.phone}}
                .col-lg-6.col-12
                    .card
                        .card-header
                            h5 User Address
                        .card-body
                            p Street : {{data.address.street}}
                            p Postcode : {{data.address.postcode}}
                            p Town : {{data.address.town}}
                            p State : {{data.address.state}}

                .col-12
                    .card.my-4
                        .card-header
                            h5 Food Order
                        .card-body
                            table.table
                                thead
                                    tr
                                        th(scope='col') #
                                        th Image
                                        th Name
                                        th Quantity
                                        th Price
                                tbody
                                    tr(ng-repeat='fooddata in data.cartData')
                                        th(scope='row') {{$index+1}}
                                        th
                                            img.rounded-circle(ng-src='{{fooddata.cartItem.food.image_file}}' width='80px' height='80px')
                                        td {{fooddata.cartItem.food.name}}
                                        td {{fooddata.cartItem.quantity}}
                                        td RM {{fooddata.cartItem.totalPrice| number:2}}

                .col-12
                    .card.my-4
                        .card-header
                            h5 Price
                        .card-body
                            p Subtotal : RM {{data.money.subtotal| number:2}}
                            p Delivery Fee : RM {{data.money.deliveryFee| number:2}}
                            p Total Pay (COD) : RM {{data.money.total| number:2}}



block scripts
    script.
        const strAppName = 'app';
        const strCtrName = 'ctr';
        const app = angular.module(strAppName, []);

        function getGETParam(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0];
        }

        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        app.controller(strCtrName, ['$scope', '$http',
            function($scope, $http) {
                let paramID = getGETParam('id');
                $scope.postFunc = function () {
                    $http({
                        method: 'POST',
                        url: '/api/order/read/one',
                        data: {orderid:paramID}
                    }).then(
                        function successCallback(response) {
                            console.log(response.data);
                            $scope.orderData = response.data;
                        },

                        function errorCallback(response) {
                        }
                    );

                };
                $scope.postFunc();

            }]);


