extends ../common/base.pug

block content
    section.probootstrap-section
    .container(ng-app='app' ng-controller='ctr')
        .row.justify-content-md-center.align-items-center.h-100
            .card-wrapper
                .card.fat
                    .card-body
                        h4.card-title Forgot Password
                        form
                            .form-group
                                label(for='email') Email
                                input#email.form-control(type='email', name='email', value='', required='', autofocus='')
                                .form-text.text-muted
                                    | By clicking "Reset Password" we will send a password reset link
                            .form-group.no-margin.text-center
                                button.btn.btn-primary.btn-lg(type='submit', title='Reset Password' ng-model='submit()')
                                    | Reset Password
                                .my-3.text-center
                                    br
                                    a.btn.btn-danger.btn-lg(href='/logo', title='Main Page') Main Page
                                    
block scripts
    script.
        alert("Password reset instructions has been sent to your email")
        $scope.submit = function () {
            alert("chicken duck");
        };











