extends ../common/base-myaccount
block css
block content
    section.probootstrap-section
        .container
            .probootstrap-animate
                .probootstrap-animate
                    .probootstrap-heading.dark.my-5.pt-3
                        h2.text MY ACCOUNT
                        hr
                        .col-md-12
                            //.form-group
                                label Your name :
                            .form-group
                                label Email : &nbsp
                                if user
                                    if user.local.email
                                        =user.local.email
                            //.form-group
                                label Phone number :
                                hr
                            .flex-container
                                .col-lg-12.col-md-12.my-5.pt-5
                                    .text-center
                                        a.btn.btn-warning.btn-lg.text-uppercase.mx-3.my-4(href='/logo') Back to main page
                                        a.btn.btn-warning.btn-lg.text-uppercase.mx-3(href='/foodmenu') go to Food Menu
