extends ../common/base.pug
block css
block content
    section.probootstrap-section
        .container
            .probootstrap-animate
                .text-center.probootstrap-animate
                    .probootstrap-heading.dark
                        h2.text MY ACCOUNT
                        hr
                        .col-md-12
                            .container
                            form
                                .form-group
                                    label Your name :
                                .form-group
                                    label Email :
                                    if user
                                        if user.local.email
                                            =user.local.email
                                .form-group
                                    label Phone number :
                                .form-group
                                    label Address :



