extends ../common/base-myaccount
block css
block content
    section(ng-app='app', ng-controller='ctr')
        .container
            .my-5.pt-3
                h2.text MY ACCOUNT
                hr
                .col-md-12
                    .form-group
                        label Email : &nbsp
                        if user
                            if user.local.email
                                =user.local.email

                h2.text MY ORDER
                hr
                .col-md-12
                    table.table(ng-show='orderData')
                        thead
                            tr
                                th(scope='col') #
                                th Name
                                th Phone
                                th Food Order
                                th Subtotal
                                th Delivery Fee
                                th Total Pay (COD)
                        tbody
                            tr(ng-repeat='data in orderData | orderBy:"-createdAt"')
                                th(scope='row') {{$index+1}}
                                th {{data.name}}
                                td {{data.phone}}
                                td
                                    div(ng-repeat='fooddata in data.cartData')
                                        p {{fooddata.cartItem.food.name}} ({{fooddata.cartItem.quantity}})
                                td RM {{data.money.subtotal| number:2}}
                                td RM {{data.money.deliveryFee| number:2}}
                                td RM {{data.money.total| number:2}}

                    .flex-container
                        .col-lg-12.col-md-12.my-5.pt-5
                            .text-center
                                a.btn.btn-warning.btn-lg.text-uppercase.mx-3.my-4(href='/logo') Back to main page
                                a.btn.btn-warning.btn-lg.text-uppercase.mx-3(href='/foodmenu') go to Food Menu
block scripts
    script(src='../static/vendor/js/angular.min.js')
    script.
        const strAppName = 'app';
        const strCtrName = 'ctr';
        const app = angular.module(strAppName, []);

        function getGETParam(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0];
        }

        app.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        app.controller(strCtrName, ['$scope', '$http',
            function ($scope, $http) {
                $scope.postFunc = function () {
                    $http({
                        method: 'POST',
                        url: '/api/order/read',
                        data: {}
                    }).then(
                        function successCallback(response) {
                            console.log(response.data);
                            $scope.orderData = response.data;
                        },

                        function errorCallback(response) {
                        }
                    );
                };
                $scope.postFunc();
            }]);