extends ../common/base.pug
block css
block content

    section.probootstrap-section
        .container
            .probootstrap-animate
                .text-center.probootstrap-animate
                    .probootstrap-heading.dark
                        h2.text MY ACCOUNT
                        hr
                        .col-md-12
                            form
                                .form-group
                                    label Your name :
                                    p Adam Tan
                                .form-group
                                    label Email :
                                    p Adam@gmail.com
                                .form-group
                                    label Phone number :
                                    .p 0123456789
                                    p (Your phone number is verified)
                                .form-group
                                    label Address :
                                    br
                                    a(href='/editaddress') &nbsp Petaling 46 , Jalan Bahru , Kuching Sarawak.

