extends ../common/base.pug
block css
block content
    section.probootstrap-section
        .container
            .probootstrap-animate
                .text-center.probootstrap-animate
                    .probootstrap-heading.dark
                        br
                        br
                        br
                        br
                        br
                        h1.primary-heading Register
                        h3.secondary-heading welcome to malicafe

                .col-md-12
                    form(action='/signup', method='post')
                        //.form-group
                        //    label Username
                        //    input.form-control(type='text', name='username')
                        //.form-group
                        //    label First Name
                        //    input.form-control(type='text', name='firstname')
                        //.form-group
                        //    label First Name
                        //    input.form-control(type='text', name='lastname')
                        .form-group
                            label Email
                            input.form-control(type='text', name='email' required='')
                        .form-group
                            label Password
                            input.form-control(type='password', name='password' required='')
                        button.btn.btn-warning.btn-lg(type='submit') Signup
                        a.btn.btn-danger.btn-lg(href='/logo') Back to Home





block scripts
    script(src='../static/vendor/js/angular.min.js')
