extends ../common/base.pug

block content
    body.my-login-page
        section.probootstrap-section
            .container
                .row.justify-content-md-center.align-items-center.h-100
                    .card-wrapper
                        .card.fat
                           .card-body
                                    h4.card-title Reset Password
                                    form(method='POST')
                                    .form-group
                                        label(for='new-password') New Password
                                        input#new-password.form-control(type='password', name='password', required='', autofocus='', data-eye='')
                                        .form-text.text-muted
                                            | Make sure your password is strong and easy to remember

                                    .form-group.no-margin.text-center
                                        button.btn.btn-primary.btn-lg(type='submit')
                                            | Reset Password
                        .footer
                            | Copyright © MALICAFE 2018


