.shopping-cart
    // Title
    .title
        | Shopping Bag
    // Product #1
    .item
        .buttons
            span.delete-btn
            span.like-btn
        .image
            img(src='../static/images/kolomee.jpg', alt='')
        .description
            span Common Projects
            span Bball High
            span White
        .quantity
            button.plus-btn(type='button', name='button')
                img(src='plus.svg', alt='')
            input(type='text', name='name', value='1')
            button.minus-btn(type='button', name='button')
                img(src='minus.svg', alt='')
        .total-price $549
    // Product #2
    .item
        .buttons
            span.delete-btn
            span.like-btn
        .image
            img(src='../static/images/kolomee.jpg', alt='')
        .description
            span Maison Margiela
            span Future Sneakers
            span White
        .quantity
            button.plus-btn(type='button', name='button')
                img(src='plus.svg', alt='')
            input(type='text', name='name', value='1')
            button.minus-btn(type='button', name='button')
                img(src='minus.svg', alt='')
        .total-price $870
    // Product #3
    .item
        .buttons
            span.delete-btn
            span.like-btn
        .image
            img(src='../static/images/kolomee.jpg', alt='')
        .description
            span Our Legacy
            span Brushed Scarf
            span Brown
        .quantity
            button.plus-btn(type='button', name='button')
                img(src='plus.svg', alt='')
            input(type='text', name='name', value='1')
            button.minus-btn(type='button', name='button')
                img(src='minus.svg', alt='')
        .total-price $349
