extends shop_common/base
block css
block header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/logo')
            img#logo.d-inline-block.mr-1(alt='Logo' src='/static/resto/img/logocafe_black.png' width='117' height='40')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            form.form-inline.my-2.my-lg-0
                ul.navbar-nav.mr-auto
                    li.nav-item.mx-3.my-3
                        a.btn.btn-outline-warning.btn-md.text-uppercase(href='/checkout')
                            i.fas.fa-shopping-cart &nbsp &nbsp
                            | Shopping Cart
                            span.sr-only (current)
                    li.nav-item.mx-3.my-2
                        a.btn.btn-outline-danger.btn-md.text-uppercase.my-2(href='/logo') Go to Home

block content
    .container.my-5(ng-app='app' ng-controller='ctr' ng-cloak)
        .row
            .col-lg-4.col-sm-4.col-md-6.my-2(ng-repeat='data in foodData')
                .card
                    img.card-img-top.img-fluid(ng-src='{{data.image_file}}' alt='{{data.name}}')
                    .card-shop
                        .card-body
                            h5.card-title {{data.name}}
                            p.small {{data.description}}
                            p.price RM {{data.price | number:2}}
                        .card-footer
                            label Quantity
                            input.col-3.mx-2(type='number' step="1" value="1" min="1" ng-model='data.quantity')
                            .float-right
                                a.btn.btn-outline-dark.btn-sm(href="#" ng-click='addtocart(data)') Add to cart




block scripts
    script(src='../static/vendor/js/angular.min.js')
    script.
        const strAppName = 'app';
        const strCtrName = 'ctr';
        const app = angular.module(strAppName, []);

        function getGETParam(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0];
        }

        app.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        app.controller(strCtrName, ['$scope', '$http',
            function ($scope, $http) {
                $scope.getFunc = function () {
                    $http({
                        method: 'GET',
                        url: '/api/food/read/all',
                        params: {}
                    }).then(
                        function successCallback(response) {
                            console.log(response.data);
                            $scope.foodData = response.data;
                        },

                        function errorCallback(response) {
                        }
                    );
                };
                $scope.getFunc();

                $scope.addtocart = function(fooddata) {
                    $scope.cardItem = {
                        foodid: fooddata._id,
                        quantity: fooddata.quantity
                    }
                    console.log($scope.cardItem)
                    $http({
                        method: 'POST',
                        url: '/api/cart/add',
                        // header: {'Content-Type': 'application/x-www-form-urlencoded'},
                        data: $scope.cardItem
                        }).then(
                            function successCallback(response) {
                                console.log(response.data);
                                $.jnoty('Food is added to your cart.', {
                                    sticky: true,
                                    header: 'Success',
                                    theme: 'jnoty-success',
                                    icon: 'fa fa-check-circle'
                                });
                            },

                            function errorCallback(response) {
                            }
                        );
                }
            }]);





