extends ../common/base
block css
block content
    section.probootstrap-section
        .container
            .probootstrap-animate
                .text-center.probootstrap-animate
                    .row
                        br
                        br
                        br
                        br
                        br
                        br
                        h2 My Cart

                        .col-sm-12.col-md-10.col-md-offset-1
                            table.table.table-hover
                                thead
                                    tr
                                        th Product
                                        th Quantity
                                        th.text-center Price
                                        th.text-center Total
                                        th &nbsp;
                                tbody
                                    tr
                                    td.col-sm-8.col-md-6
                                        .media
                                            a.thumbnail.pull-left(href='#')
                                                img.media-object(src='../static/resto/img/kolokmee3.jpg' style='width: 180px; height: 150px;')
                                            .media-body
                                                b Kolo Mee

                                    td.col-sm-1.col-md-1(style='text-align: center')
                                        label.col-2.col-form-label(for='input1')
                                            input#input1.form-control(type='number' value='2')

                                            td.col-sm-1.col-md-1.text-center
                                                strong RM 3.00
                                            td.col-sm-1.col-md-1.text-center
                                                strong RM 6.00
                                            td.col-sm-1.col-md-1
                                                button.btn.btn-danger(type='button')
                                                    |  Remove

                                tbody
                                    tr
                                    td.col-sm-8.col-md-6
                                        .media
                                            a.thumbnail.pull-left(href='#')
                                                img.media-object(src='../static/resto/img/rojak.jpg' style='width: 180px; height: 150px;')
                                            .media-body
                                                b Rojak

                                    td.col-sm-1.col-md-1(style='text-align: center')
                                        label.col-2.col-form-label(for='input2')
                                            input#input2.form-control(type='number' value='2')

                                            td.col-sm-1.col-md-1.text-center
                                                strong RM 5.00
                                            td.col-sm-1.col-md-1.text-center
                                                strong RM 10.00
                                            td.col-sm-1.col-md-1
                                                button.btn.btn-danger(type='button')
                                                    |  Remove

                                    hr

                                    tr
                                        td  &nbsp;
                                        td  &nbsp;
                                        td  &nbsp;
                                        td
                                            h3 Total
                                        td.text-right
                                            h3
                                                strong RM 16.00

                                    tr
                                        td  &nbsp;
                                        td  &nbsp;
                                        td  &nbsp;
                                        td
                                            a.btn.btn-primary.btn-lg.active(href='/' role='button' aria-pressed='true')
                                                |  Continue Shopping
                                        td
                                            a.btn.btn-success.btn-lg.active(href='/' role='button' aria-pressed='true')
                                                | Checkout







