section.probootstrap-footer
    .container
        .row
            .col-md-6.probootstrap-animate
                .probootstrap-footer-widget
                    h3 Locations
                    .row
                        .col-md-6
                            p
                                | Mali Cafe, Jalan Belatok, 93050 Kuching, Sarawak


            .col-md-6.probootstrap-animate
                .probootstrap-footer-widget
                    h3 Open Hours
                    .row
                        .col-md-6
                            p
                                | Monday - Sunday
                                br
                                |  6:00am - 12:00am

                        .col-md-6
                            p
                                | Available for Catering
                                br
                                |  Email or Call Us (012-3456789)
section.probootstrap-copyright
    .container
        .row
            .col-md-8
                p.copyright-text
                    | © Copyright 2018 MALICAFE. All Rights Reserved.
            .col-md-4
                ul.probootstrap-footer-social.right
                    li
                        a(href='#')
                            i.icon-twitter
                    li
                        a(href='#')
                            i.icon-facebook
                    li
                        a(href='#')
                            i.icon-instagram
