doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='keywords' content='')
        meta(name='author' content='')
        title #{title}
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
        link(rel='stylesheet' href='../static/vendor/css/bootstrap.min.css')
        link(rel='stylesheet' href='../static/vendor/css/shop-skin/menu.css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
        block css
    body
        block header
        block content
        script(src='../static/vendor/js/jquery-slim.min.js')
        script(src='../static/vendor/js/popper.min.js')
        script(src='../static/vendor/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
        block footer
            include ../shop_common/footer_2.pug
        block scripts
            script.
                toastr.info('Are you the 6 fingered man?')
