footer.bg-dark.my-5.pt-5.text-light
    .container
        .row
            .col-md-6.probootstrap-animate
                .probootstrap-footer-widget
                    h3 LOCATIONS
                    .row
                        .col-md-6
                            p
                                | MaliCafe, Jalan Belatok, 93050 Kuching, Sarawak

            .col-md-6.probootstrap-animate
                .probootstrap-footer-widget
                    h3 OPEN HOURS
                    .row
                        .col-md-6
                            p
                                | Monday - Sunday
                                br
                                |  6:00am - 12:00am

        .row
            .col-md-8.my-5.pt-5
                p.copyright-text
                    | © Copyright 2018 MALICAFE. All Rights Reserved.
            .col-md-4.my-5.pt-5
                ul.right.float-right

                    a(href='https://twitter.com/mali_cafe')
                        i.fab.fa-twitter.fa-spin.fa-2x.mx-4

                    a(href='https://www.facebook.com/MaliCafe-274974663107549/')
                        i.fab.fa-facebook.fa-spin.fa-2x.mx-4

                    a(href='https://www.instagram.com/malicafe.kuching/')
                        i.fab.fa-instagram.fa-spin.fa-2x.mx-4
